{% extends 'template_base.html' %}

{% load static %}

{% block title %}Apprend-elec{% endblock %}

{% block contenu %}

<div id="myOverlay">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row h-100 align-items-center justify-content-center text-center mt-5">
            <div class="fieldWrapper my-label text-clair text-center col-lg-6" id="name-comment">
                {{ form.as_p }}
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <p class="submit">
                    <input type="submit" name="post" class="btn btn-outline-primary mt-3" value="Ajouter une categorie" />
                    </p>
                </div> 
            </div> 
        </div>
    </form> 
</div>

{% endblock contenu %}