{% extends 'template_base.html' %}

{% load static %}

{% block title %}Apprend-elec{% endblock %}

{% block contenu %}

<!--Top of page-->
<div class="masthead-lumiere-home col-lg-12" id="myOverlay">
  <div class="container-home">
    <div class="row h-100 align-items-center justify-content-center mt-5 text-center">
      <div class="col-lg-10 mt-5 align-self-end">
          <h1 class="text-uppercase font-weight-bold title_orange_home">Apprendre le métier d'électricien !</h1>
          <hr class="divider my-4" />
      </div>
      <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-2">
          <h2 class="text-clair">Trouvez toutes les astuces pour devenir meilleur qu'un professionnel.</h2>
          </p>
          <hr class="divider my-4" />
      </div>
    </div>
  </div>

  {% if user.is_superuser %}

    <a href="{% url 'add_picture_carrousel' %}" class="btn btn-primary" role="button">
      Ajouter une image
    </a>

  {% endif %}

  <div id="carrousel">
    <ul style="list-style-type: none;">
      <li><img src="/static/image/slideshow/Les-articles-à-venir.svg" class="dimention_photo"></li>
      {% for picture in pictures %}
      <li><img src="/media/{{ picture.picture }}" class="dimention_photo"></li>
      {% endfor %}
    </ul>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>

  <div class="row align-items-center justify-content-center mt-5 text-center">
    <div class="col-lg-12 align-self-baseline">
      <p class="text-white-75 font-weight-light mb-2">
      <h2 class="text-clair">Dernières actualités</h2>
      </p>
      <hr class="divider my-4" />
    </div>
  </div> 

  {% if user.is_superuser %}

    <a href="{% url 'add_actu' %}" class="btn btn-primary mt-2" role="button">
      Ajouter du contenu sur l'actualités
    </a>

    </a>

  {% endif %}
  
  <div class="col-lg-6 mt-5">
  
    {% for actu in actualites.all %}

    <div class="mt-3">
        <div class="card border p-2 bg-dark-sombre">
            <h5 class="text-clair title_orange">{{ actu.user}} - {{ actu.date_added}}</h5>
            <br/>
            <p class="text-clair">{{ actu.contenu }}</p>
        </div>
    </div>

    {% endfor %}


    <br/>
    <br>

  </div>
  
</div>

{% endblock contenu %}