
.masthead-lumiere-home{
    height: 100%;
    width: 100%;
    padding-right: -15px !important;
}

.title_orange
{
    color: rgb(245, 107, 69);
}

.col-title
{
    height: 100%;
    width: 200px;
}

.col-ampoule{
    height: 100px;

}

.img_ampoule{
    width: 500px;
    height: auto;
}

.img_ampoule_expli{
    width: auto;
    height: 375px;
    max-width: 500px;
}