/********************
*******NAVBAR*******
********************/

.navbar{
    background-color:rgba(248,248,248,1);
    border-bottom: 1px solid;
    border-color: rgb(245, 107, 69);
}

.navbar-logo{
    height: 50px;
}

.title_logo{
    color: rgb(245, 107, 69);
}