/********************
*******NAVBAR*******
********************/

.navbar{
    border-bottom: 1px solid;
    border-color: rgb(245, 107, 69);
    position: fixed!important;
    width: 100%;
    height: 93px;
    z-index: 1;
    overflow: auto;
}

.dropdown-menu.show{
    position: absolute!important;
    z-index: 1000!important;
}

.navbar-logo{
    height: 50px;
}

.title_logo{
    margin-top: 10px;
    color: rgb(245, 107, 69);
    font-weight: 700;
}

.icon-avatar-nav{
    width: 50px;
    border-radius: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title_sidebar{
    color: rgb(245, 107, 69);
    font-size: 16px;
    font-weight: 700;
}

.sidebar-button{
    margin-top: 10px;
    font-size: 30px;
    border: none;
    cursor: pointer;
}

.sidebar-button:focus{
    border: none;
    outline: none;
}

.color-sidebar-button{
    color: rgb(255, 255, 255)!important;
    background-color: #4b535c !important;
}

.color-sidebar-button::after{
    color: rgb(245, 107, 69)!important;
}