/********************
*******SIDEBAR*******
********************/

.icon-menu {
    width:25px;
    height:25px;
    margin: 10px;
}

.side-menu-elements {
    font-size:1.1em;
    padding-top:7px;
    padding-bottom:7px;
    margin-top: 25px;
}

.side-bar {
    background-color:rgba(248,248,248,1);
    padding-top:25px;
    min-height: 850px;
}

.txt-menu {
    display: inline;
    position: relative;
    text-decoration: none;
    transition-duration: 0.3s;
    font-size: 20px;
}

.txt-sous-menu {
    font-size: 16px;
    padding-left: 45px;
}

.sous-menu_add_cat {
    font-size: 16px;
}

.add_cat {
    text-align: center;
}