/********************
*******NAVBAR*******
********************/

.navbar{
    background-color:rgba(248,248,248,1);
    border-bottom: 1px solid;
    border-color: rgb(245, 107, 69);
}

.navbar-logo{
    height: 50px;
}

.title_logo{
    color: rgb(245, 107, 69);
}

.icon-avatar-nav{
    width: 50px;
    border-radius: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar-button{
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.color-sidebar-button{
    color: rgb(245, 107, 69)!important;
    background-color: rgba(248,248,248,1)!important;
}