/********************
*******SIDEBAR*******
********************/

.txt-menu-fermer{
    display: inline;
    position: relative;
    text-decoration: none;
    transition-duration: 0.3s;
    font-size: 25px;
    border: none;
    background-color:#4b535c;
    color: rgb(245, 107, 69);
}

.icon-menu-fermer{
    margin: 10px;
    color: rgb(245, 107, 69);
}

.icon-menu {
    width:25px;
    height:25px;
    margin: 10px;
}

@media (max-width: 1300px) {
    .icon-menu {
        width:20px;
        height:20px;
        margin: 10px;
    }
}

.navbar-logo_sidebar{
    height: 25px;
}

.side-menu-elements {
    font-size:20px;
    padding-top:7px;
    padding-bottom:7px;
    margin-top: 25px;
}

@media (max-width: 1300px) {
    .side-menu-elements {
        font-size:16px;
    }
}

.side-bar {
    background-color:rgba(248,248,248,1);
    padding-top:25px;
    min-height: 850px;
}

.txt-menu {
    display: inline;
    position: relative;
    text-decoration: none;
    transition-duration: 0.3s;
    font-size: 20px;
}

@media (max-width: 1300px) {
    .txt-menu {
        font-size:16px;
    }
}

.txt-sous-menu {
    font-size: 16px;
    padding-left: 45px;
}

@media (max-width: 1300px) {
    .txt-sous-menu{
        font-size: 13px;
    }
}

.sous-menu_add_cat {
    font-size: 16px;
}

@media (max-width: 1300px) {
    .sous-menu_add_cat {
        font-size: 13px;
    }
}

.add_cat {
    text-align: center;
}

.sidebar {
    height: 100%;
    width: 200px;
    background-color: rgba(248,248,248,1);
    position: fixed!important;
    z-index: 1;
    overflow: auto;
    margin-left: -15px;
}