/*FOOTER*/

.footer{
    position: fixed !important;
    bottom:0;
    width:100%;
}

.ml_footer
{
    margin-right: 25px;
}

.contact_footer
{
    margin-left: 25px;
}

.ml_contact
{
    font-size: 20px;
}