{%  extends 'template_base.html' %}

{% block title %}Mot de passe oublier{% endblock %}

{% block contenu %}

<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="container my-auto">
                <form method="POST" class="form-signin">{% csrf_token %}
                    <h1 class="h3 mb-3 font-weight-normal">Réinitialiser votre mot de passe</h1>
                    <input name="email" class="form-control" placeholder="L'adresse mail" type="email" id="id_email" required="true">
                    <button class="btn btn-lg btn-primary btn-block mb-5" type="submit">Envoyer un e-mail de réinitialisation</button>
                </form>
            </div>        
        </div>
    </div>
</header>

{% endblock %}