{% extends 'template_base.html' %}

{% load static %}

{% block title %}Apprend-elec{% endblock %}

{% block contenu %}

<div class="masthead-lumiere-home" id="myOverlay">
    {% for article in articles %}
    <div class="container-home">
        <div class="container">
            <div class="row h-100 align-items-center justify-content-center text-center">
                {% if article.titre_page == "" %}
                {% else %}
                <div class="col-lg-12 align-self-end">
                    <h1 class="text-uppercase font-weight-bold title_orange">{{ article.titre_page }}</h1>
                    <hr class="divider my-4" />
                </div>
                {% endif %}

                {% if article.sous_titre_page == "" %}
                {% else %}
                <h3 class="text-center mt-5 text-muted">
                    {{ article.sous_titre_page }}
                </h3>
                {% endif %}
            </div>
        </div> 
    </div>
    {% endfor %}

    {% if user.is_superuser %}
    <a href="{% url 'add_articles' sous_category_id=sous_category.id %}" class="nav-link js-scroll-trigger">
        <button type="button" class="btn btn-primary">Ajouter un article sur {{ sous_category.name }}</button>
    </a>
    {% endif %}

    <div class="container my-auto">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    
    <div class="col-lg-12 text-center">
        {% for article in articles %}
            <div class="container-home mt-5">
                <div class="col-lg-6">
                    <h4 class="text-left title_orange">
                        {{ article.titres_articles }}
                    </h4>
                    <p class="font-weight-bold text-left text-muted">
                        {{ article.contenu }} contenu
                        <br>

                        <div class="text-muted text-right">
                            Ajouter le {{ article.date_added }}
                        </div>

                    </p>
                </div>

                <p class="font-weight-bold text-muted img_ampoule col-lg-6">
                    <img src="/media/{{ article.image_path }}" class="img_ampoule">
                </p>

            </div>
        {% endfor %}
    </div>
    <div class="col-lg-12">
        <h3 class="text-center mt-2 title_orange">
            Commentaire
        </h3>
        <hr class="divider my-4" />
        {% for comment in comments.all %}

        {% if comment.name_article == sous_category.name and comment.id_sous_category == sous_category.id %}
        
        <div class="mt-3">
            <div class="card border p-2 ">
                <h5 class="text-muted">{{ comment.user}} - {{ comment.date_added}}</h5>
                <br/>
                <p class="text-muted">{{ comment.contenu }}</p>
            </div>
        </div>

        {% endif %}
            
        {% endfor %}

        <br/>
        <br/>
    </div>

    <div class="col-lg-12">
        <h3 class="text-center mt-2 title_orange">
            Voulez-vous ajoutez un commentaire ?
        </h3>

        <form method="POST">
            {% csrf_token %}
            <div class="row h-100 align-items-center justify-content-center text-center ">
                <div class="fieldWrapper my-label text-muted text-center col-lg-6" id="name-comment">
                    {% if request.user.is_authenticated %}
                    <!-- {{ form.as_p }} -->

                    <label class="hidden-important" for="id_name_article">id_article&nbsp;:</label> 
                    <input type="text" name="name_article" class="form-control hidden-important" id="id_name_article" value="{{ sous_category.name }}">

                    <p>
                        <label for="id_user">Utilisateur&nbsp;:</label> 
                        <input type="text" name="user" class="form-control" id="id_user" value="{{ user.username }}" readonly>
                    </p>
                    
                    <label for="id_e_mail">E-mail&nbsp;:</label> 
                    <input type="text" name="e_mail" required="" class="form-control" value="{{ user.email }}" id="id_e_mail" readonly>

                    <label class="hidden-important" for="id_id_sous_category">id_sous_category&nbsp;:</label> 
                    <input type="text" name="id_sous_category" class="form-control hidden-important" id="id_id_sous_category" value="{{ sous_category.id }}">

                    {% else %}

                    <label class="hidden-important" for="id_name_article">id_article&nbsp;:</label> 
                    <input type="text" name="name_article" class="form-control hidden-important" id="id_name_article" value="{{ sous_category.name }}">
                    <p>
                        <label for="id_user">Nom d'utilisateur&nbsp;:</label>
                        <input type="text" name="user" class="form-control" required="" id="id_user">
                    </p>

                    <p>
                    <label for="id_e_mail">E-mail&nbsp;:</label>
                    <input type="text" name="e_mail" class="form-control" required="" id="id_e_mail">
                    </p>
                    
                    <label class="hidden-important" for="id_id_sous_category">id_sous_category&nbsp;:</label> 
                    <input type="text" name="id_sous_category" class="form-control hidden-important" id="id_id_sous_category" value="{{ sous_category.id }}">

                    {% endif %}
                    <p>
                        <label for="id_contenu">Commentaire&nbsp;:</label> 
                        <textarea name="contenu" cols="40" rows="10" class="form-control" required="" id="id_contenu"></textarea>
                    </p>
                    
                    <div class="align-items-center">
                        {{ captcha }}
                    </div>
                    <div class="row h-100 align-items-center justify-content-center text-center mt-3 my-4">
                        <p class="submit">
                        <input type="submit" name="post" class="btn btn-outline-primary mt-3" value="Ajouter le commentaire" />
                        </p>
                    </div>
                </div>
            </div>
        </form> 
    </div>
</div>
{% endblock contenu %}