{% extends 'template_base.html' %}

{% block title %}Lumière{% endblock %}

{% block contenu %}

<div class="masthead-lumiere-home col-md-10">
    <div class="container-home">
        <div class="container">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase font-weight-bold title_orange">Tout savoir sur la lumières !</h1>
                    <hr class="divider my-4" />
                </div>
                <h2 class="text-center mt-2 text-muted">
                    Quel type de lampe ou d'ampoule choisir ?
                </h2>
                <h3 class="text-center mt-5 text-muted">
                    Comment différencier les ampoules à leds, incandescence, halogène, tube fluorescent ou l'amouple fluocompacte ?
                </h3>            
            </div>
            <hr class="divider my-4" />
        </div> 
    </div>
    
    <div class="col-lg-12 text-center">
        {% for article in articles %}

            <div class="container-home">
                <div class="col-lg-6">
                    <h4 class="text-left mt-5 title_orange">
                        {{ article.titre }}
                    </h4>
                    <p class="font-weight-bold text-left text-muted">
                        {{ article.contenu }}
                        <br>

                        <div class="text-muted text-right">
                            Ajouter le {{ article.date_publication }}
                        </div>

                    </p>
                </div>

                <p class="font-weight-bold text-muted img_ampoule col-lg-6">
                    <img src="{{ article.image_path }}" class="img_ampoule">
                </p>

            </div>
            
        {% endfor %}
    </div>
    <div class="col-lg-12 text-center text-muted">
        <h3 class="text-center mt-5 title_orange">
            Performances des différentes ampoules
        </h3>
        <table class="mt-5">
            <thead>
                <tr>
                <th scope="col" class="col-title">Type de lampe</th>
                <th scope="col" class="col-title">Puissance <br/> (W)</th>
                <th scope="col" class="col-title">Flux lumineux <br/>(lm)</th>
                <th scope="col" class="col-title">Efficacité lumineuse <br/>(lm/W)</th>
                <th scope="col" class="col-title">Indice de rendu des couleurs <br/>(IRC)</th>
                <th scope="col" class="col-title">Température de couleur <br/>(K)</th>
                <th scope="col" class="col-title">Durée de vie moyenne <br/>(h)</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                <th scope="row" class="col-ampoule title_orange">LED</th>
                <td>2 à 15</td>
                <td>5 à 20</td>
                <td>50</td>
                <td>70 à 85</td>
                <td>2 700 à 6 500</td>
                <td>50 000 à 100 000</td>
                </tr>

                <tr>
                <th scope="row" class="col-ampoule title_orange">Halogène</th>
                <td>40 à 2 000</td>
                <td>500 à 50 000</td>
                <td>12,2 à 25</td>
                <td>100</td>
                <td>3 000</td>
                <td>2 000</td>
                </tr>
            
                <tr>
                <th scope="row" class="col-ampoule title_orange">Tube fluorescent</th>
                <td>14 à 58</td>
                <td>1 150 à 5 200</td>
                <td>64 à 104</td>
                <td>60 à 90</td>
                <td>2 700 à 6 500</td>
                <td>14 000 à 18 000</td>
                </tr>

                <tr>
                    <th scope="row" class="col-ampoule title_orange">incandescence</th>
                    <td>25 à 500</td>
                    <td>220 à 8 200</td>
                    <td>9 à 16</td>
                    <td>100</td>
                    <td>2 700</td>
                    <td>1000</td>
                </tr>

            </tbody>
        </table>
    </div>


    <div class="col-lg-12">
        <h3 class="text-center mt-2 title_orange">
            Commentaire
        </h3>
        <hr class="divider my-4" />
        {% if not comments.all %}
            <p class="text-muted">Il n'y a pas encore de commentaire..</p>

        {% else %}

            {% for comment in comments.all %}
            <div class="mt-3">
                <div class="card border p-2 ">
                    <h5 class="text-muted">{{ comment.name}} - {{ comment.date_added}}</h5>
                    <br/>
                    <p class="text-muted">{{ comment.body }}</p>
                </div>
            </div>
            {% endfor %}

        {% endif %}
        <br/>
        <br/>

    </div> 

    <div class="col-lg-12">
        <h3 class="text-center mt-2 title_orange">
            Voulez-vous ajoutez un commentaire ?
        </h3>

        <form method="POST">
            {% csrf_token %}
            <div class="row h-100 align-items-center justify-content-center text-center mt-5">
                <div class="fieldWrapper my-label text-muted text-center col-lg-6" id="name-comment">
                    {{ form.as_p}}
                    <!-- <label for="{{ form.name.id_for_label }}" id="name-comment">Votre nom</label>
                    <input class="form-control" type="text" name="name" maxlength="50" required id="id_name"></input>
                    {% if form.name.errors %}
                        {% for error in form.name.errors %}
                            <p class="errorform">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="fieldWrapper my-label text-muted text-center col-lg-6" id="email">
                    <label for="{{ form.email.id_for_label }}" id="email">Votre adresse mail</label>
                    <input class="form-control" type="email" name="email" required id="id_email"></input>
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <p class="errorform">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="fieldWrapper my-label text-muted text-center col-lg-6" id="body">
                    <label for="{{ form.body.id_for_label }}" id="body">Votre commentaire</label>
                    <input class="form-control" type="body" name="body" required id="body"></input>
                    {% if form.body.errors %}
                        {% for error in form.body.errors %}
                            <p class="errorform">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>    -->
            <script src='https://www.google.com/recaptcha/api.js'></script>

            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="g-recaptcha" data-sitekey="public_key_here"></div>
            </div>
            <div class="row h-100 align-items-center justify-content-center text-center">
                <p class="submit">
                <input type="submit" name="post" class="btn btn-outline-primary mt-3" value="Ajouter le commentaire" />
                </p>
            </div> 
        </form> 
    </div>

</div>

{% endblock contenu %}