{% extends 'template_base.html' %}

{% block title %}Lumière{% endblock %}

{% block contenu %}

<div class="masthead-lumiere-home col-md-10">
    <div class="container-home">
        <div class="container">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase font-weight-bold title_orange">Les différents intérrupteurs</h1>
                    <hr class="divider my-4" />
                </div>
            </div>
        </div> 
    </div>
    <div class="col-lg-10 text-center">
        <h4 class="text-left mt-5 title_orange">
            L'intérrupteur simple
        </h4>
        <p class="font-weight-bold text-left text-muted">
            Les leds sont des diodes électroluminescentes (DEL en français ou Light-Emitting Diode = LED en anglais).
            Lorsqu'un courant électrique circule d'une couche à l'autre, des photons de lumières sont libérés.
        </p>
    
        <h4 class="text-left mt-5 title_orange">
            Le double intérrupteurs
        </h4>
        <p class="font-weight-bold text-left text-muted">
            Ce sont aussi des ampoules à incandescence. Mais l'ampoule est ici remplie de brome ou d'iode, 
            ce qui permet au filament d'être beaucoup plus chaud (donc plus de lumières). 
        </p>
    
        <h4 class="text-left mt-5 title_orange">
            Le va-et-vient
        </h4>
        <p class="font-weight-bold text-left text-muted">
            Une décharge électrique est produite dans un tube de verre rempli de vapeur de mercure, cela provoque 
            un rayonnement ultraviolet. 
        </p>
    
        <h4 class="text-left mt-5 title_orange">
            Le bouton poussoir
        </h4>
        <p class="font-weight-bold text-left text-muted">
            Ces ampoules permettent d'avoir des lumières chaudes ou froides. 
        </p>
    
        <h4 class="text-left mt-5 title_orange">
            Le variateur
        </h4>
        <p class="font-weight-bold text-left text-muted">
            Il fut un temps ou ces ampoules étaient les plus connues et les plus répandues. Un filament de tungstène, 
            placé dans une lampe de verre, est chauffé à blanc par le courant électrique.
        </p>

        <h4 class="text-left mt-5 title_orange">
            Le détecteur
        </h4>
        <p class="font-weight-bold text-left text-muted">
            Il fut un temps ou ces ampoules étaient les plus connues et les plus répandues. Un filament de tungstène, 
            placé dans une lampe de verre, est chauffé à blanc par le courant électrique.
        </p>
    </div>
</div>



{% endblock contenu %}