<!DOCTYPE html>
{% load static %}
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>{% block title %}{% endblock %}</title>

  <!-- Core theme CSS (includes Bootstrap)-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

  <!-- Favicon-->
  <link rel="icon" type="image/png" href="{% static 'image/pur_beurre.png' %}" sizes="16x16">

</head>
<body>

  <!--Navbar-->
  <nav class="navbar navbar-interne navbar-expand-md navbar-light bg-white shadow-sm">
    <div id="container_home">
      <div class="logo-dokko">
        <a class="align-center" href="">
          <img src="" class="navbar-brand-img-interne" alt="...">
        </a>
      </div>
    </div>
  </nav>

  <!--Sidebar-->
  <div class="row ">
    <div class="col-md-2 side-bar">
      <ul class="navbar-nav" >
          <li>
              <h6 class="side-menu-elements">
                  <a class="txt-menu" href="">
                  <img src="" class="icon-menu"> Home
                  </a>
              </h6>
          </li>
          <li>
              <h6 class="side-menu-elements">
                  <a class="txt-menu" href="">
                      <img src="" class="icon-menu"> Dashboards météo
                  </a>
              </h6>
          </li>
      </ul>
  </div>

    {% block contenu %} {% endblock contenu %}

    <!-- Footer-->
    <footer class="bg-light py-5">
      <div class="container">
        <div class="col-lg-8 mx-auto text-center" id="ml_contact">
          <a href="" id="ml_footer">Mentions légales</a>
          <a href="" id="contact_footer">Contact</a>
        </div>
      </div>
    </footer>
  </div>

  <!-- Bootstrap core JS-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Core theme JS-->
  <script src="{% static 'js/script.js' %}"></script>

</body>

</html>