<!DOCTYPE html>
{% load static %}
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>{% block title %}{% endblock %}</title>

  <!-- Core theme CSS (includes Bootstrap)-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles-boostrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles_sidebar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles_navbar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles_lumiere.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles_footer.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

  <!-- Favicon-->
  <link rel="icon" type="image/jpg" href="{% static 'image/logo/icon-elec.jpg' %}" sizes="16x16">

</head>
<body>

  <!--Navbar-->
  <nav class="navbar navbar-interne navbar-expand-md">
    <div class="container-home">

      <div class="logo-elec">
        <a class="align-center" href="{% url 'home' %}">
          <img src="{% static 'image/logo/icon-elec.jpg' %}" class="navbar-logo" alt="logo-elec">
        </a>
      </div>

      <p class="title_logo" >Apprend-Elec</p>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'my_account' %}">
            <img src="/static/image/carotte.png" alt="carotte" WIDTH=60 HEIGHT=60 class="d-inline-block align-top" />
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}">
            <img src="/static/image/box-arrow-right.svg" alt="logout" WIDTH=60 HEIGHT=60 class="d-inline-block align-top" />
            </a>
          </li>  

          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">
            <img src="/static/image/icon/login.svg" alt="login" WIDTH=60 HEIGHT=60 class="d-inline-block align-top" />
            </a>
          </li>
          {% endif %}
        </ul>

      </div>
    </div>
  </nav>

  <!--Sidebar-->
  <div class="row ">
    <div class="col-md-2 side-bar">
      <ul class="navbar-nav" >

        <li>
          <h6 class="side-menu-elements">
            <a class="txt-menu" href="{% url 'home' %}">
              <img src="/static/image/icon/accueil.svg" class="icon-menu">Home
            </a>
          </h6>
        </li>

        <li>
          <h6 class="side-menu-elements">
            <a class="txt-menu" href="{% url 'home_lumiere' %}">
              <img src="/static/image/icon/lumiere.svg" class="icon-menu">Lumière
            </a>
          </h6>
        </li>

        <li>
          <h6 class="side-menu-elements">
            <a class="txt-menu" href="{% url 'home_prise' %}">
              <img src="/static/image/icon/prise.png" class="icon-menu">Prise électrique
            </a>
          </h6>
        </li>

        <li>
          <h6 class="side-menu-elements">
            <a class="txt-menu" href="{% url 'home_tableau' %}">
              <img src="" class="icon-menu">Tableau électrique
            </a>
          </h6>
        </li>

      </ul>
    </div>
    {% block contenu %} {% endblock contenu %}
  </div>

    <!-- Footer-->
  <footer class="bg-light">
    <div class="container">
      <div class="col-lg-10 mx-auto text-center" class="ml_contact">
        <a href="" class="ml_footer">Mentions légales</a>
        <a href="" class="contact_footer">Contact</a>
      </div>
    </div>
  </footer>


  <!-- Bootstrap core JS-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Core theme JS-->
  <script src="{% static 'js/script.js' %}"></script>

</body>

</html>