{% extends 'template_base.html' %}

{% block title %}Encastrement béton{% endblock %}

{% block contenu %}

<div class="masthead-lumiere-home col-md-10">
    <div class="container-home">
        <div class="container">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase font-weight-bold title_orange">Encastrement d'une prise ou de plusieurs prises</h1>
                    <hr class="divider my-4" />
                </div>
            </div>
        </div> 
    </div>
    <div class="col-lg-12 text-center">
        <h4 class="text-left mt-5 title_orange">
            C'est quoi l'encastrement ?
        </h4>
        <p class="font-weight-bold text-left text-muted">
            Le mot encrastrement veux dire d'insérer quelque chose dans un objet.
            <br>
            Dans notre cas ca signifie la même chose. L'encastrement dans le placo, béton, faux-plafond c'est insérer nos gaine, nos prises, nos intérrupteurs
            dans le placo où le béton.
            <br>
            Je vais vous mettre des photos pour que vous comprennez bien.
        </p>

        <h4 class="text-left mt-5 title_orange">
            Les plans
        </h4>
        <p class="font-weight-bold text-left text-muted">
            Les plans sont très important, il permet de savoir où mettre les prises. A qu'elle distance de ce mur, à qu'elle hauteur, 
            es que c'est une hotte ?
            <br>
            Je vais vous mettre des photos pour que vous comprennez bien.
            <br>
            <br>
        </p>
        <p class="font-weight-bold text-left text-muted"></p>
            <img src="/static/image/plan/plan-prise1.jpg" class="img-plan">
        </p>
        <p class="font-weight-bold text-left text-muted">
            <br>
            <br>
            Sur le plan il y'a plusieurs sortes de prises:
            <br>
            Les prises de courant 16A, c'est les prises traditionnels utiliser pour les taches courantes (exemples: TV, aspirateur, 
            charger le téléphone).
            <br>
            Les prises de courant 20A, celle-ci sont des prises spécialiser car on alimente avec le four, lave-vaiselle, machine à laver et seche linge.
            <br>
            La sortie de câble 32A, celle-ci est pour la plaque de cuisson.
            <br>
            La prise RJ 45 est pour internet, téléphone, imprimantes etc..
            <br>
            La sortie de câble du chauffe-eau est une prise aussi spécialiser mais pour la chauffe-eau.
            <br>
            <br>
            Pourquoi il y'a des numéros sur les prises ?
            <br>
            Les numéros representer les prises dans chaque circuit. 
            <br>
            Je m'explique, il y'a 5 numéros différents (1, 2, 3, 4, 5). Ce qui veux dire que dans le circuit 1, il y'a 8 prises.
            Dans le circuit 2, il y'a 6 prises. Ce qui permet de savoir combien de prises il y'a sur un circuit.
            <br>
        </p>

        <h4 class="text-left mt-5 title_orange">
            L'encastrement dans une dalle :
        </h4>
        <p class="font-weight-bold text-left text-muted">
            Tout d'abord, nous devant encastrer toutes les prises dans la dalle de la maison.
            <br>
            La premiere chose à faire c'est de tracer où sont placer les différents prises et le tableaux électrique.
            <br>
            Une fois tracer, on peut alors placer les tiges en férailles pour pouvoir attacher les gaines pour ne pas qu'elle 
            retomber dans la dalle lors du coulage du béton.
            <br>
            <br>
            On peut voir différents couleurs de gaine.
            <br>
            La couleur verte généralement est une gaine pré-filée avec du RJ et TV dedans.
            <br>
            La couleur bleue généralement est aussi une gaine pré-filée avec 3 file de 2.5MM² dedans.
            <br>
            La couleur grise généralement n'est pas une gaine pré-filée donc on l'utilise pour tout les autres usages. 
            (Thermostat, l'éclairage, l'alimentation du logement etc..)
        </p>

        <h4 class="mt-5 title_orange">
            Avant
        </h4>
        <p class="font-weight-bold text-muted">
            <img src="/static/image/dalle/20180213_090641.jpg" class="img-plan">
        </p>
        <p class="font-weight-bold text-muted">
            <img src="/static/image/dalle/20180213_090645.jpg" class="img-plan">
        </p>

        <h4 class="text-left mt-5 title_orange">
            L'encastrement dans un mur en béton :
        </h4>
        <p class="font-weight-bold text-left text-muted">
            Tout d'abord, nous devant encastrer toutes les prises dans la dalle de la maison.
            <br>

        </p>

        <h4 class="mt-5 title_orange">
            Avant
        </h4>
        <p class="font-weight-bold text-muted">
            <img src="/static/image/beton/IMG_0610.JPG" class="img-plan">
        </p>

        <h4 class="mt-5 title_orange">
            Après
        </h4>
        <p class="font-weight-bold text-muted"></p>
            <img src="/static/image/beton/IMG_0652.JPG" class="img-plan">
        </p>

        <h4 class="text-left mt-5 title_orange">
            L'encastrement dans la brique :
        </h4>
        <p class="font-weight-bold text-left text-muted">
            Le mot encrastrement veux dire d'insérer quelque chose dans un objet.
            <br>
            Dans notre cas ca signifie la même chose. L'encastrement dans le placo où béton c'est insérer nos gaine, nos prises, nos intérrupteurs
            dans le placo où le béton.
            <br>
            Je vais vous mettre des photos pour que vous comprennez bien.
        </p>
        <h4 class="mt-5 title_orange">
            Avant
        </h4>
        <p class="font-weight-bold text-muted"></p>
            <img src="/static/image/brique/IMG_0461.JPG" class="img-plan">
        </p>

        <h4 class="mt-5 title_orange">
            Après
        </h4>
        <p class="font-weight-bold text-muted"></p>
            <img src="/static/image/brique/IMG_0462.JPG" class="img-plan">
        </p>

        <h4 class="text-left mt-5 title_orange">
            L'encastrement dans le placo ou BA 13 :
        </h4>
        <p class="font-weight-bold text-left text-muted">
            Le mot encrastrement veux dire d'insérer quelque chose dans un objet.
            <br>
            Dans notre cas ca signifie la même chose. L'encastrement dans le placo où béton c'est insérer nos gaine, nos prises, nos intérrupteurs
            dans le placo où le béton.
            <br>
            Je vais vous mettre des photos pour que vous comprennez bien.
        </p>

        <h4 class="text-left mt-5 title_orange">
            L'encastrement dans le faux-plafond :
        </h4>
        <p class="font-weight-bold text-left text-muted">
            Le mot encrastrement veux dire d'insérer quelque chose dans un objet.
            <br>
            Dans notre cas ca signifie la même chose. L'encastrement dans le placo où béton c'est insérer nos gaine, nos prises, nos intérrupteurs
            dans le placo où le béton.
            <br>
            Je vais vous mettre des photos pour que vous comprennez bien.
        </p>
        <h4 class="mt-5 title_orange">
            Avec câbles
        </h4>
        <p class="font-weight-bold text-muted"></p>
            <img src="/static/image/faux-plafond/IMG_0478.JPG" class="img-plan">
        </p>

        <h4 class="mt-5 title_orange">
            Avec gaines
        </h4>
        <p class="font-weight-bold text-muted"></p>
            <img src="/static/image/faux-plafond/IMG_0881.JPG" class="img-plan">
        </p>
        
    </div>
</div>

{% endblock contenu %}