{% extends 'template_base.html' %}

{% block title %}Encastrement placo{% endblock %}

{% block contenu %}

<header class="masthead col-md-10">
    <div class="container-home">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase font-weight-bold title_principale">Encastrement dans le placo d'une prise</h1>
                    <hr class="divider my-4" />
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock contenu %}